.answer-container {
    width: 100vw;
    height: 80vh;
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.answer-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
}